{% extends 'application.html' %}
  {% block body %}
    <section id="about-section" class="bg-light py-5">
      <h2>Meet Our Team</h2>
      <div class="container">
        <div class="py-5">
          <div class="container">
            <div class="row hidden-md-up">
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="{{url_for('static', filename='Alex_profile.jpg')}}" alt="Card image">
                  <div class="card-block">
                    <h4 class="card-title">Alex Butakov</h4>
                    <h6 class="card-subtitle text-muted">Team-lead / Front-end Lead</h6>
                    <br>
                    <p class="card-text p-y-1">alex@sfsulist.com</p>
                    <a href="/alex" class="card-link">About me</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="{{url_for('static', filename='Andrew_Profile.jpg')}}" alt="Card image" height="308px">
                  <div class="card-block">
                    <h4 class="card-title">Andrew Copas</h4>
                    <h6 class="card-subtitle text-muted">Git Master / Front-End</h6>
                    <br>
                    <p class="card-text p-y-1">andrew@sfsulist.com</p>
                    <a href="/andrew" class="card-link">About me</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="https://i.ibb.co/Zh2v3CW/10-Fake-Love-Remix-3.jpg" alt="Card image">
                  <div class="card-block">
                    <h4 class="card-title">Emanuel Saunders</h4>
                    <h6 class="card-subtitle text-muted">Back-End Lead</h6>
                    <br>
                    <p class="card-text p-y-1">emanuel@sfsulist.com</p>
                    <a href="/emanuel" class="card-link">About me</a>
                  </div>
                </div>
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="{{url_for('static', filename='default_logo.png')}}" alt="Card image">
                  <div class="card-block">
                    <h4 class="card-title">Alex Lee</h4>
                    <h6 class="card-subtitle text-muted">Front-End</h6>
                    <br>
                    <p class="card-text p-y-1">lee@sfsulist.com</p>
                    <a href="/alex_lee" class="card-link">About me</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="{{url_for('static', filename='KevinProfile.jpg')}}" alt="Card image">
                  <div class="card-block">
                    <h4 class="card-title">Kevin Truong</h4>
                    <h6 class="card-subtitle text-muted">Back-End</h6>
                    <br>
                    <p class="card-text p-y-1">kevin@sfsulist.com</p>
                    <a href="/kevin" class="card-link">About me</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top" src="{{url_for('static', filename='default_logo.png')}}" alt="Card image">
                  <div class="card-block">
                    <h4 class="card-title">Tim Lei</h4>
                    <h6 class="card-subtitle text-muted">Back-end</h6>
                    <br>
                    <p class="card-text p-y-1">tim@sfsulist.com</p>
                    <a href="/tim" class="card-link">About me</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
  {% endblock %}