{% extends 'application.html' %}
{% block body %}
<div class="col-sm text-center">
  <h2 style="text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1); color: #d10000;">Welcome to SFSUQuad!</h2>
  <br>
  <div class="col-sm-8 offset-sm-2">
    <h4>Our website offers a safe and convenient way for SFSU students to buy and sell their books, furniture, electronics and more!</h4>
  </div>
</div>

<div>
    <h4 style="margin-top: 50px; text-align: center;">Recent Postings</h4>
    <div class="container bg-light">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th scope="col">Image</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Price</th>
                  <th scope="col">Category</th>
              </tr>
          </thead>
          <tbody>
              {% for post in posts %}
              <tr>
                  <td scope="row"><img src="{{ url_for('send_file', filename=post.image) }}" class="img-thumbnail" alt="{{ post.image }}"></td>
                  <td><a href="{{ url_for('view_post', post_id=post.id) }}">{{post.title}}</a></td>
                  <td>{{post.body}}</td>
                  <td>{{post.price}}</td>
                  <td>{{post.category}}</td>

              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
</div>
<!-- Widgets Section-->
<div class="row" style="margin-top: 70px;">
  <!-- Weather Widget-->
  <div class="col-sm-4 offset-sm-1">
    <script type='text/javascript' src='https://darksky.net/widget/default/37.7165,-122.4783/us12/en.js?width=100%&height=400&title=Park Merced&textColor=333333&bgColor=FFFFFF&transparency=false&skyColor=undefined&fontFamily=Sans-Serif&customFont=&units=us&htColor=333333&ltColor=C7C7C7&displaySum=yes&displayHeader=yes'></script>
  </div>
  <!-- SFSU Twitter Feed -->
  <div class="col-sm-4 offset-sm-2">
    <a class="twitter-timeline" data-height="700" href="https://twitter.com/SFSU?ref_src=twsrc%5Etfw">Tweets by SFSU</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
{% endblock %}