{% extends 'application.html' %}
{% block body %}
        <div class="container bg-light">
            <h1>Search Results</h1>
            {{ pagination.info }}
            <br>
            {% if total_posts == 0 %}
            <h2>No listings were found for "{{query}}"</h2>
            <br>
            <h3> Try rephrasing your search or viewing a listing below: </h3>
            <br>
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                    <tr>
                       <!-- add brackets for loop index in table: loop.index + pagination.skip  -->
                        <td scope="row"><img src="{{ url_for('send_file', filename=post.image) }}" class="img-thumbnail" alt="{{ post.image }}"></td>
                        <td><a href="{{ url_for('view_post', post_id=post.id) }}">{{post.title}}</a></td>
                        <td>{{post.body}}</td>
                        <td>${{post.price}}</td>
                        <td>{{post.category}}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}