{% extends 'application.html' %}
{% block body %}
<div class="container">
    <h1>Hey {{ user.username }}!</h1>
    <hr>
    <p>
        <button class="btn btn-outline-primary" type="button" data-toggle="collapse" data-target="#msgCollapse" aria-expanded="false" aria-controls="msgCollapse">
            View Messages
        </button>
    </p>
    <div class="collapse" id="msgCollapse">
        {% for message in messages %}
        <div class="card card-body">
            From: {{message.sender}},
            {{message.body}}
        </div>
        {% endfor %}
    </div>
    {% if num_posts > 0 %}
    <div class="container bg-light">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                    <th scope="col">Approved</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <td scope="row"><img src="{{ url_for('send_file', filename=post.image) }}" class="img-thumbnail" alt="{{ post.image }}"></td>
    
                    <td><a href="{{ url_for('view_post', post_id=post.id) }}">{{post.title}}</a></td>
    
                    <td>{{post.body}}</td>
                    <td>{{post.price}}</td>
                    <td>{{post.timestamp}}</td>
                    <td>{{post.active}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>
    You have made no listings. <a href="{{url_for('create_post')}}"> Click here to Create a listing!</a> 
    </p>
    {% endif %}
</div>
{% endblock %}