<form action="action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h1>Login</h1>
    
    <hr>

        <label for="sfsu-id"><b>SFSU ID</b></label>
    <input type="sfsuid" placeholder="SFSU ID" name="sfsu-id" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required> <!--important credentials for the login page for SFSU Students-->

<!--Trying to link login to homepage-->
    <div class="clearfix">
      <button type="button" class="loginbtn">Login</button>
      <button type="button" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>